body{ 
    background: #304352;
    background: -webkit-linear-gradient(top right,#304352,#d6d5e0);
    background: -moz-linear-gradient(top right,#304352,#d6d5e0);
    background: linear-gradient(top right,#304352,#d6d5e0);  
}

.box1{
    width: 300px;
    height:600px;
    position:fixed;
    left:400px;
    top:50px;
    padding: 25px;
    margin: 25px;
    background-color:#FFFAF0;

}


.box2{
    width: 300px;
    height:600px;
    position:fixed;
    right:400px;
    top:50px;
    padding: 25px;
    margin: 25px ;
    background-color:#FFFAF0;
}

#H1{
    color:#0d0d0d;
    font-size: 25px;
    font-family: sans-serif;

}

#H2{
    color:  #a6a6a6;
    font-family:Arial, Helvetica, sans-serif;
    
}
